<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:fragment="processStageForm">
<form th:if="${not #lists.isEmpty(listroles)}"  th:action="@{addNewProcessStage}" th:object="${processStage}" method="post">
    <div class="border-bottom">
        <h3>Добавить новый этап</h3>
    </div>
    <br>
    <div class="my-2">
        <label for="processtype">Тип процесса</label>
        <input class="form-control" id="processtype" type="text" th:placeholder="${processType.name}" readonly>
    </div>
    <input type="hidden" th:id="process_type_id" th:value="${processType.idProcessType}" th:name="process_type_id">
    <div class="my-2">
        <label th:for="stage" th:field="*{stage}">Этап №</label>
        <input type="number" class="form-control" th:name="stage" th:value="${stage}" th:id="stage" maxlength="10" required readonly/>
    </div>
    <div class="my-2">
        <label for="role_id">Роль согласованта</label>
        <select name="role_id" class="form-control" id="role_id" th:field="*{role_id}">
            <th:block th:each="role : ${listroles}">
                <option th:value="${role.idRole}" th:text="${role.name}"></option>
            </th:block>
        </select>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Добавить</button>
    <div class="my-4"></div>
    <!--button type="button" class="btn btn-primary">Отмена</button-->
</form>
<div th:unless="${not #lists.isEmpty(listroles)}">
    <h4>
        В данный момент не существует пользователей с ролями,<br>
        поэтому, вы не сможете создать этап. <br>
        <small class="text-muted" th:if="${#authorization.expression('hasAuthority(''admin'')')}">
            Вам необходимо создать все условия для создания этапа.<br>
            Задайте пользователям роли.
        </small>
    </h4>
    <a class="btn btn-outline-primary mt-3 mb-3" th:if="${#authorization.expression('hasAuthority(''admin'')')}"
       role="button" aria-pressed="true" th:href="@{/allusers}">
        Перейти к таблице пользователей</a>
</div>
</body>
</html>