<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:fragment="usersTable">
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h2>Список пользователей</h2>
</div>
<table class="table" th:if="${not #lists.isEmpty(listusers)}">
    <thead class="thead-light">
    <tr>
        <th scope="col">#</th>
        <th scope="col">ФИО сотрудника</th>
        <th scope="col">email</th>
        <th scope="col">Логин</th>
        <th scope="col">Telegram</th>
        <th scope="col">Роли</th>
    </tr>
    </thead>

    <tbody>
    <th:block th:each="user,iterationStatus  : ${listusers}">
        <tr>
            <th scope="row" class="align-middle" th:text="${iterationStatus.count}">#</th>
            <td class="align-middle" th:text="${user.fio}">fio</td>
            <td class="align-middle" th:text="${user.email}">email</td>
            <td class="align-middle" th:text="${user.login}">login</td>
            <td class="align-middle text-center" th:text="${user.telegramChatId}">telegram</td>
            <td class="align-middle">
                <a class="btn btn-outline-primary btn-sm"  th:href="@{/showroles(id=${user.idUser})}">
                    Показать роли </a>
            </td>
        </tr>
    </th:block>
    </tbody>
</table>

</body>
</html>