<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:fragment="processTableView">
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h2>Список ваших процессов</h2>
</div>
<table class="table" th:if="${not #lists.isEmpty(processList)}">
    <thead class="thead-light">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Тип процесса</th>
        <th scope="col">Название</th>
        <th scope="col">Описание процесса</th>
        <th scope="col">Дата начала</th>
        <th scope="col">Планируемая дата конца?</th>
        <th scope="col">Фактическая дата окончания?</th>
        <th scope="col">Статус процесса</th>
        <th scope="col">Задачи</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="process,iterationStatus: ${processList}">
        <th scope="row" th:text="${iterationStatus.count}">#</th>
        <td th:text="${process.process_type_name}">Тип процесса</td>
        <td th:text="${process.name}">Название</td>
        <td th:text="${process.description}">Описание процесса</td>
        <td th:text="${process.date_start}">Дата начала</td>
        <td th:text="${process.date_end_planning}">Планируемая дата конца?</td>
        <td th:text="${process.date_end_fact}">Фактическая дата окончания?</td>
        <td th:text="${process.status_name}">Статус процесса</td>
        <td class="align-middle">
            <a class="btn btn-outline-primary btn-sm"  th:href="@{/tasks(id=${process.id})}">
                Перейти </a>
        </td>
    </tr>
    </tbody>
</table>
<div th:unless="${not #lists.isEmpty(processList)}">
    <h4>
        В данный момент ваш список процессов пуст.<br>
        <small class="text-muted" th:if="${#authorization.expression('hasAuthority(''admin'')')}">
            Хотите создать новый процесс?</small>
    </h4>
    <a class="btn btn-outline-primary mt-3 mb-3"
       role="button" aria-pressed="true" th:href="@{/processForm}">
        Создать новый процесс</a>
</div>
</body>
</html>