<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Signin Template for Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" th:href="@{bootstrap.min.css}" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link href="../static/css/singin.css" th:href="@{singin.css}" rel="stylesheet"/>
</head>

<body class="text-center">
<form th:action="@{/login}" method="post" th:object="${loginForm}" class="form-signin">
    <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72"
         height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <div class="alert alert-danger" th:if="${errorsignin}==true">
        <p class="mt-1 mb-1 text-danger">Неверная пара логин-пароль.</p>
    </div>
    <div class="alert alert-danger" th:if="${jwtErr}==true">
        <p class="mt-1 mb-1 text-danger">Время Вашего сеанса истекло. Пожалуйста, войдите в систему еще раз.</p>
    </div>
    <label for="login" class="sr-only">Login</label>
    <input type="text" th:field="*{username}" id="login" class="form-control" placeholder="Login" minlength="3" maxlength="100" pattern="^[A-Za-z0-9\s]+$" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" th:field="*{password}" id="inputPassword" class="form-control" placeholder="Password" minlength="3" maxlength="100" pattern="^[A-Za-z0-9\s]+$" required>
    <button class="btn btn-lg btn-primary btn-block mb-1" type="submit" id="loginBtn">Sign in</button>
    <a class="register" th:href="@{'/reg'}">Registration</a>
    <p class="mt-5 mb-3 text-muted">&copy; 2020 STC20 Innopolis University</p>
</form>
<script th:src="jquery-3.3.1.min.js"></script>
<script th:src="popper.min.js"></script>
<script th:src="bootstrap.min.js"></script>
</body>
</html>
