<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Signin Template for Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" th:href="@{bootstrap.min.css}" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="../static/css/register.css" th:href="@{register.css}" rel="stylesheet" />
</head>

<body class="text-center">
<form th:action="@{/reg}" method="post" th:object="${regForm}" class="form-signin">
    <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please register</h1>
    <label for="login" class="sr-only">Login</label>
    <input type="text" th:field="*{username}" id="login" class="form-control" placeholder="Login" minlength="3" maxlength="50" pattern="^[A-Za-z0-9\s]+$" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" th:field="*{password}" id="inputPassword" class="form-control" placeholder="Password" minlength="3" maxlength="100" pattern="^[A-Za-z0-9\s]+$" required>
    <label for="inputFio" class="sr-only">FIO</label>
    <input type="text" th:field="*{fio}" id="inputFio" class="form-control" placeholder="FIO" minlength="3" maxlength="100" pattern="^[А-Яа-яЁё\s]+$"required>
    <label for="inputEmail" class="sr-only">FIO</label>
    <input type="email" th:field="*{email}" id="inputEmail" class="form-control" placeholder="Email" maxlength="100"  required>
    <label for="inputTelegram" class="sr-only">TelegramId</label>
    <input type="text" th:field="*{telegramChatId}"  onkeypress="return isNumber(event)" id="inputTelegram" class="form-control" placeholder="Telegram" minlength="1" maxlength="20" required>
    <p class="mt-5 mb-3 text-muted" th:if="${errorregister}==true">Ошибка регистрации</p>
    <button class="btn btn-lg btn-primary btn-block my-2" type="submit" id="loginBtn">Register</button>
    <a class="register" th:href="@{'/login'}">Sign in</a>
    <p class="mt-5 mb-3 text-muted">&copy; 2020 STC20 Innopolis University</p>
</form>
<script th:src="jquery-3.3.1.min.js"></script>
<script th:src="popper.min.js"></script>
<script th:src="bootstrap.min.js"></script>
<script th:inline="javascript">
    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }
</script>
</body>
</html>