<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:fragment="roleForm" th:action="@{addNewRole}" th:object="${role}" method="post">
    <div class="border-bottom">
        <h3>Добавить новую роль</h3>
    </div>
    <br>
    <div class="my-2">
        <label for="name">Имя роли</label>
        <input type="text" th:field="*{name}" class="form-control" id="name" pattern="^[А-Яа-яЁё\s]+$" maxlength="100" required/>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Добавить</button>
    <div class="my-4"></div>
    <!--button type="button" class="btn btn-primary">Отмена</button-->
</form>
</body>
</html>