<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:fragment="processTypeForm" th:action="@{addNewProcessType}" th:object="${processType}" method="post">
    <div class="border-bottom">
        <h3>Добавить новый тип процесса</h3>
    </div>
    <br>
    <div class="my-2">
        <label for="name">Название типа процесса</label>
        <input type="text" th:field="*{name}" class="form-control" id="name" pattern="^[А-Яа-яЁё\s]+$" maxlength="50" required/>
    </div>
    <div class="my-2">
        <label for="description">Описание</label>
        <input type="text" th:field="*{description}" class="form-control" id="description" pattern="^[А-Яа-яЁё\s]+$" maxlength="300" required/>
    </div>
    <div class="my-2">
        <label for="name">Время исполнения</label>
        <input type="number" th:field="*{timeToDo}" class="form-control" id="name" min="1" max="1000" maxlength="10" required/>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Добавить</button>
    <div class="my-4"></div>
    <!--button type="button" class="btn btn-primary">Отмена</button-->
</form>
</body>
</html>